<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>AdminLTE 3 | Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Font Awesome -->
<link href="../css/plugins/fontawesome-free/css/all.min.css"
	rel="stylesheet" />
<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
<!-- Tempusdominus Bbootstrap 4 -->
<link
	href="../css/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
	rel="stylesheet" />
<!-- iCheck -->
<link href="../css/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
	rel="stylesheet" />
<!-- JQVMap -->
<link href="../css/plugins/jqvmap/jqvmap.min.css" rel="stylesheet" />
<!-- Theme style -->
<link href="../css/adminlte.min.css" rel="stylesheet" />
<!-- overlayScrollbars -->
<link
	href="../css/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
	rel="stylesheet" />
<!-- Daterange picker -->
<link href="../css/plugins/daterangepicker/daterangepicker.css"
	rel="stylesheet" />
<!-- summernote -->
<link href="../css/plugins/summernote/summernote-bs4.css"
	rel="stylesheet" />
<!-- Google Font: Source Sans Pro -->

</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<!-- Navbar -->
		<nav
			class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
					href="#" role="button"><i class="fas fa-bars"></i></a></li>
				<li class="nav-item d-none d-sm-inline-block"><a
					href="index3.html" class="nav-link">Home</a></li>
				<li class="nav-item d-none d-sm-inline-block"><a href="#"
					class="nav-link">Contact</a></li>
			</ul>

			<!-- SEARCH FORM -->
			<form class="form-inline ml-3">
				<div class="input-group input-group-sm">
					<input class="form-control form-control-navbar" type="search"
						placeholder="Search" aria-label="Search" />
					<div class="input-group-append">
						<button class="btn btn-navbar" type="submit">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Messages Dropdown Menu -->
				<li class="nav-item dropdown"><a class="nav-link"
					data-toggle="dropdown" href="#"> <i class="far fa-comments"></i>
						<span class="badge badge-danger navbar-badge">3</span>
				</a>
					<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
						<a href="#" class="dropdown-item"> <!-- Message Start -->
							<div class="media">
								<img src="../img/user1-128x128.jpg" alt="User Avatar"
									class="img-size-50 mr-3 img-circle" />
								<div class="media-body">
									<h3 class="dropdown-item-title">
										Brad Diesel <span class="float-right text-sm text-danger"><i
											class="fas fa-star"></i></span>
									</h3>
									<p class="text-sm">Call me whenever you can...</p>
									<p class="text-sm text-muted">
										<i class="far fa-clock mr-1"></i> 4 Hours Ago
									</p>
								</div>
							</div> <!-- Message End -->
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"> <!-- Message Start -->
							<div class="media">
								<img src="../img/user8-128x128.jpg" alt="User Avatar"
									class="img-size-50 img-circle mr-3" />
								<div class="media-body">
									<h3 class="dropdown-item-title">
										John Pierce <span class="float-right text-sm text-muted"><i
											class="fas fa-star"></i></span>
									</h3>
									<p class="text-sm">I got your message bro</p>
									<p class="text-sm text-muted">
										<i class="far fa-clock mr-1"></i> 4 Hours Ago
									</p>
								</div>
							</div> <!-- Message End -->
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"> <!-- Message Start -->
							<div class="media">
								<img src="../img/user3-128x128.jpg" alt="User Avatar"
									class="img-size-50 img-circle mr-3" />
								<div class="media-body">
									<h3 class="dropdown-item-title">
										Nora Silvester <span class="float-right text-sm text-warning"><i
											class="fas fa-star"></i></span>
									</h3>
									<p class="text-sm">The subject goes here</p>
									<p class="text-sm text-muted">
										<i class="far fa-clock mr-1"></i> 4 Hours Ago
									</p>
								</div>
							</div> <!-- Message End -->
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item dropdown-footer">See All
							Messages</a>
					</div></li>
				<!-- Notifications Dropdown Menu -->
				<li class="nav-item dropdown"><a class="nav-link"
					data-toggle="dropdown" href="#"> <i class="far fa-bell"></i> <span
						class="badge badge-warning navbar-badge">15</span>
				</a>
					<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
						<span class="dropdown-item dropdown-header">15
							Notifications</span>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"> <i
							class="fas fa-envelope mr-2"></i> 4 new messages <span
							class="float-right text-muted text-sm">3 mins</span>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"> <i
							class="fas fa-users mr-2"></i> 8 friend requests <span
							class="float-right text-muted text-sm">12 hours</span>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"> <i class="fas fa-file mr-2"></i>
							3 new reports <span class="float-right text-muted text-sm">2
								days</span>
						</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item dropdown-footer">See All
							Notifications</a>
					</div></li>
				<li class="nav-item"><a class="nav-link"
					data-widget="control-sidebar" data-slide="true" href="#"
					role="button"> <i class="fas fa-th-large"></i>
				</a></li>
			</ul>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a href="index3.html" class="brand-link"> <img
				src="../img/AdminLTELogo.png" alt="AdminLTE Logo"
				class="brand-image img-circle elevation-3" style="opacity: .8" /> <span
				class="brand-text font-weight-light">AdminLTE 3</span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image">
						<img src="../img/user2-160x160.jpg" class="img-circle elevation-2"
							alt="User Image" />
					</div>
					<div class="info">
						<a href="#" class="d-block">Alexander Pierce</a>
					</div>
				</div>

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column"
						data-widget="treeview" role="menu" data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
						<li class="nav-item has-treeview menu-open"><a href="#"
							class="nav-link active"> <i
								class="nav-icon fas fa-tachometer-alt"></i>
								<p>
									Dashboard <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="./index.html"
									class="nav-link active"> <i class="far fa-circle nav-icon"></i>
										<p>Dashboard v1</p>
								</a></li>
								<li class="nav-item"><a
									href="../back-pages/Reclamation/create.xhtml" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Dashboard v2</p>
								</a></li>
								<li class="nav-item"><a href="./index3.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Dashboard v3</p>
								</a></li>
							</ul></li>
						<li class="nav-item"><a href="pages/widgets.html"
							class="nav-link"> <i class="nav-icon fas fa-th"></i>
								<p>
									Widgets <span class="right badge badge-danger">New</span>
								</p>
						</a></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-copy"></i>
								<p>
									Layout Options <i class="fas fa-angle-left right"></i> <span
										class="badge badge-info right">6</span>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/layout/top-nav.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Top Navigation</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/layout/top-nav-sidebar.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Top Navigation + Sidebar</p>
								</a></li>
								<li class="nav-item"><a href="pages/layout/boxed.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Boxed</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/layout/fixed-sidebar.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Fixed Sidebar</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/layout/fixed-topnav.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Fixed Navbar</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/layout/fixed-footer.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Fixed Footer</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/layout/collapsed-sidebar.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Collapsed Sidebar</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-chart-pie"></i>
								<p>
									Charts <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/charts/chartjs.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>ChartJS</p>
								</a></li>
								<li class="nav-item"><a href="pages/charts/flot.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Flot</p>
								</a></li>
								<li class="nav-item"><a href="pages/charts/inline.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Inline</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-tree"></i>
								<p>
									UI Elements <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/UI/general.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>General</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/icons.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Icons</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/buttons.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Buttons</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/sliders.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Sliders</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/modals.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Modals and Alerts</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/navbar.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Navbar and Tabs</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/timeline.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Timeline</p>
								</a></li>
								<li class="nav-item"><a href="pages/UI/ribbons.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Ribbons</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-edit"></i>
								<p>
									Forms <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/forms/general.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>General Elements</p>
								</a></li>
								<li class="nav-item"><a href="pages/forms/advanced.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Advanced Elements</p>
								</a></li>
								<li class="nav-item"><a href="pages/forms/editors.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Editors</p>
								</a></li>
								<li class="nav-item"><a href="pages/forms/validation.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Validation</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-table"></i>
								<p>
									Tables <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/tables/simple.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Simple Tables</p>
								</a></li>
								<li class="nav-item"><a href="pages/tables/data.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>DataTables</p>
								</a></li>
								<li class="nav-item"><a href="pages/tables/jsgrid.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>jsGrid</p>
								</a></li>
							</ul></li>
						<li class="nav-header">EXAMPLES</li>
						<li class="nav-item"><a href="pages/calendar.html"
							class="nav-link"> <i class="nav-icon far fa-calendar-alt"></i>
								<p>
									Calendar <span class="badge badge-info right">2</span>
								</p>
						</a></li>
						<li class="nav-item"><a href="pages/gallery.html"
							class="nav-link"> <i class="nav-icon far fa-image"></i>
								<p>Gallery</p>
						</a></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon far fa-envelope"></i>
								<p>
									Mailbox <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/mailbox/mailbox.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Inbox</p>
								</a></li>
								<li class="nav-item"><a href="pages/mailbox/compose.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Compose</p>
								</a></li>
								<li class="nav-item"><a href="pages/mailbox/read-mail.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Read</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-book"></i>
								<p>
									Pages <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/examples/invoice.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Invoice</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/profile.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Profile</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/e-commerce.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>E-commerce</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/projects.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Projects</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/project-add.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Project Add</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/project-edit.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Project Edit</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/project-detail.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Project Detail</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/contacts.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Contacts</p>
								</a></li>
							</ul></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon far fa-plus-square"></i>
								<p>
									Extras <i class="fas fa-angle-left right"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="pages/examples/login.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Login</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/register.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Register</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/forgot-password.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Forgot Password</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/recover-password.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Recover Password</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/lockscreen.html" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Lockscreen</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/legacy-user-menu.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Legacy User Menu</p>
								</a></li>
								<li class="nav-item"><a
									href="pages/examples/language-menu.html" class="nav-link">
										<i class="far fa-circle nav-icon"></i>
										<p>Language Menu</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/404.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Error 404</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/500.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Error 500</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/pace.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Pace</p>
								</a></li>
								<li class="nav-item"><a href="pages/examples/blank.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Blank Page</p>
								</a></li>
								<li class="nav-item"><a href="starter.html"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Starter Page</p>
								</a></li>
							</ul></li>
						<li class="nav-header">MISCELLANEOUS</li>
						<li class="nav-item"><a href="https://adminlte.io/docs/3.0"
							class="nav-link"> <i class="nav-icon fas fa-file"></i>
								<p>Documentation</p>
						</a></li>
						<li class="nav-header">MULTI LEVEL EXAMPLE</li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="fas fa-circle nav-icon"></i>
								<p>Level 1</p>
						</a></li>
						<li class="nav-item has-treeview"><a href="#"
							class="nav-link"> <i class="nav-icon fas fa-circle"></i>
								<p>
									Level 1 <i class="right fas fa-angle-left"></i>
								</p>
						</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a href="#" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Level 2</p>
								</a></li>
								<li class="nav-item has-treeview"><a href="#"
									class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>
											Level 2 <i class="right fas fa-angle-left"></i>
										</p>
								</a>
									<ul class="nav nav-treeview">
										<li class="nav-item"><a href="#" class="nav-link"> <i
												class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
										</a></li>
										<li class="nav-item"><a href="#" class="nav-link"> <i
												class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
										</a></li>
										<li class="nav-item"><a href="#" class="nav-link"> <i
												class="far fa-dot-circle nav-icon"></i>
												<p>Level 3</p>
										</a></li>
									</ul></li>
								<li class="nav-item"><a href="#" class="nav-link"> <i
										class="far fa-circle nav-icon"></i>
										<p>Level 2</p>
								</a></li>
							</ul></li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="fas fa-circle nav-icon"></i>
								<p>Level 1</p>
						</a></li>
						<li class="nav-header">LABELS</li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon far fa-circle text-danger"></i>
								<p class="text">Important</p>
						</a></li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon far fa-circle text-warning"></i>
								<p>Warning</p>
						</a></li>
						<li class="nav-item"><a href="#" class="nav-link"> <i
								class="nav-icon far fa-circle text-info"></i>
								<p>Informational</p>
						</a></li>
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<DIV class="container">
				<ui:insert name="body" />
			</DIV>
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<strong>Copyright 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.
			</strong> All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version</b> 3.0.3-pre
			</div>
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<!-- /.control-sidebar -->
	</div>
	<!-- ./wrapper -->

	<!-- jQuery -->
	<script src="../css/plugins/jquery/jquery.min.js"></script>
	<!-- jQuery UI 1.11.4 -->
	<script src="../css/plugins/jquery-ui/jquery-ui.min.js"></script>
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
		$.widget.bridge('uibutton', $.ui.button)
	</script>
	<!-- Bootstrap 4 -->
	<script src="../css/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- ChartJS -->
	<script src="../css/plugins/chart.js/Chart.min.js"></script>
	<!-- Sparkline -->
	<script src="../css/plugins/sparklines/sparkline.js"></script>
	<!-- JQVMap -->
	<script src="../css/plugins/jqvmap/jquery.vmap.min.js"></script>
	<script src="../css/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
	<!-- jQuery Knob Chart -->
	<script src="../css/plugins/jquery-knob/jquery.knob.min.js"></script>
	<!-- daterangepicker -->
	<script src="../css/plugins/moment/moment.min.js"></script>
	<script src="../css/plugins/daterangepicker/daterangepicker.js"></script>
	<!-- Tempusdominus Bootstrap 4 -->
	<script
		src="../css/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
	<!-- Summernote -->
	<script src="../css/plugins/summernote/summernote-bs4.min.js"></script>
	<!-- overlayScrollbars -->
	<script
		src="../css/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<!-- AdminLTE App -->
	<script src="../js/adminlte.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="../js/pages/dashboard.js"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="../js/demo.js"></script>
</body>


	</html>

</ui:composition>
