<ui:composition 
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/back/home.xhtml"
	xmlns:p="http://primefaces.org/ui">
	
	
	<ui:param name="page_name" value="create" />

	<ui:define name="body">
	
    		<div class="row">
			<div class="col-md-8">
				<div class="card">
					<div class="card-header card-header-primary">
						<h2 class="card-title">Create your Reclamation</h2>
					
					</div>
					<h:form>
					<div class="card-body">
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Nom</label>
									<h:inputText value="#{reclamationBean.nom}" pt:placeholder="Nom"  styleClass="form-control" />
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Prenom</label>
									<h:inputText value="#{reclamationBean.prenom}" pt:placeholder="Prenom"  styleClass="form-control" />
								</div>
							</div>
						</div>
						
							</div>
						
						
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Telephone</label>
									<h:inputText value="#{reclamationBean.telephone}" pt:placeholder="Telephone"  styleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Type</label>
									<h:inputText value="#{reclamationBean.type}" pt:placeholder="Type"  styleClass="form-control" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label class="bmd-label-floating">Email</label>
									<h:inputText value="#{reclamationBean.email}" pt:placeholder="Email"  styleClass="form-control" />
								</div>
							</div>
						</div>					
						
						<div class="row pull-left">
						<h:commandButton action="#{reclamationBean.addReclamation}" value="Create Reclamation" styleClass="btn btn-primary pull-right" />
							<div class="clearfix"></div>
						</div>						
						
						
						</h:form>
					</div>
				</div>
			</div>
		
		</ui:define>
			
		
</ui:composition>