<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	template="/back/home.xhtml" xmlns:p="http://primefaces.org/ui">


	<ui:param name="page_name" value="Index" />

	<ui:define name="body">
		<h:form>
			<section class="content">
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-header">
								<h3 class="card-title"></h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th>Last name</th>
											<th>Name</th>
											<th>Phone</th>
											<th>Type</th>
											<th>Email</th>
											<th></th>
											<th></th>


										</tr>
									</thead>
									<tbody>
										<c:forEach items="#{reclamationBean.reclamation}" var="r"
											varStatus="metadata">
											<tr>
												<td><h:outputText value="#{r.nom}" /></td>
												<td><h:outputText value="#{r.prenom}" /></td>
												<td><h:outputText value="#{r.telephone}" /></td>
												<td><h:outputText value="#{r.type}" /></td>
												<td><h:outputText value="#{r.email}" /></td>
												<td><h:commandButton
														action="#{reclamationBean.supprimer(r)}" >Delete</h:commandButton></td>
												<td><h:commandButton
														action="#{reclamationBean.modifier(r)}" >Update</h:commandButton></td>

											</tr>
										</c:forEach>
									</tbody>

								</table>
								
							</div>
							<!-- /.card-body -->
						</div>
						<!-- /.card -->

						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</section>
		</h:form>
	</ui:define>


</ui:composition>